html{
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll--padding,50px);
}
.cube {
    margin-top: 170px;
    position: absolute;
    width: 150px; /* Adjusted width */
    height: 150px; /* Adjusted height */
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animateD 8s linear infinite;
  }
  
  @keyframes animateD {
    0% {
      transform: rotateX(-15deg) rotateY(0deg);
    }
  
    100% {
      transform: rotateX(-15deg) rotateY(-360deg);
    }
  }
  
  .cube div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }
  
  .cube2 {
    position: relative;
    width: 75px; /* Adjusted width */
    height: 75px; /* Adjusted height */
    transform-style: preserve-3d;
    animation: animateD2 5s ease-out infinite alternate;
  }
  
  @keyframes animateD2 {
    0% {
      transform: rotateX(0deg) rotateY(0deg);
    }
  
    100% {
      transform: rotateX(180deg) rotateY(-360deg);
    }
  }
  
  .cube2 div {
    position: absolute;
    top: 17.5px;
    left: 0;
    width: 65%;
    height: 65%;
    transform-style: preserve-3d;
  }
  
  .cube2 div span {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 65%;
    height: 65%;
    background: transparent;
    border: 2px solid #0dcaf0;
    transform: rotateY(calc(90deg * var(--i))) translateZ(31px);
  }
  
  .cube3 {
    position: absolute;
    width: 150px; /* Adjusted width */
    height: 150px; /* Adjusted height */
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animateD3 1s ease-in-out infinite alternate;
  }
  
  @keyframes animateD3 {
    0% {
      transform: rotateX(-90deg) rotateY(0deg);
    }
  
    100% {
      transform: rotateX(90deg) rotateY(45deg);
    }
  }
  
  .cube3 div {
    position: absolute;
    top: 35px;
    left: 30px;
    width: 30%;
    height: 30%;
    transform-style: preserve-3d;
  }
  
  .cube3 div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0dcaf0;
    transform: rotateY(calc(90deg * var(--i))) translateZ(14px);
    box-shadow: 0px 0px 7px #0dcaf0;
  }
  
  .top3 {
    position: absolute;
    top: 0;
    left: 0;
    background: #0dcaf0;
    transform: rotateX(90deg) translateZ(14px);
    box-shadow: 0px 0px 10px #0dcaf0;
  }
 
  /* Card */
  
  .main {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
  
.up {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}
  
.down {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}
  
.card1 {
    width: 70px; 
    height: 70px;
    outline: none;
    border: none;
    background: white;
    border-radius: 70px 5px 5px 5px; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}
  
.card1:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #03A9F4;
}
  
.facebook {
    margin-top: 1.2em; 
    margin-left: 1em; 
    fill: #03A9F4;
}
  
.card1:hover .facebook {
    fill: white;
}
  
.card2 {
    width: 70px; 
    height: 70px; 
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 70px 5px 5px; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}
  
.card2:hover {
    cursor: pointer;
    transform: scale(1.1); 
    background-color: #060606;
}
  
.twitter {
    margin-top: 1.2em; 
    margin-left: -.8em; 
    fill: #000000;
}
  
.card2:hover .twitter {
    fill: white;
}
  
.card3 {
    width: 70px; 
    height: 70px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 5px 70px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}
  
.card3:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: black;
}
  
.github {
    margin-top: -.4em;
    margin-left: 1em;/
}
  
.card3:hover .github {
    fill: white;
}
  
.card4 {
    width: 70px; 
    height: 70px; 
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 70px 5px; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.2s ease-in-out;
}
  
.card4:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #0077b5;
}
  
.linkedin {
    margin-top: -0.7em;
    margin-left: -1em;
    fill: #0077b5;
}
  
.card4:hover .linkedin {
    fill: white;
}
  
  /* Skills */
  .all{
    display: flex;
    justify-content: center;
  }
  .circle-wrap{
    display: grid;
    grid-template-columns: repeat(1,80px);
    grid-gap: 80px;
    margin-top: 30px;
    margin-left: 30px;
    width: 80px;
    height: 80px;
    background-color: #d9d7da;
    border-radius: 50%;
  }

  .circle-wrap .circle .mask,
  .circle-wrap .circle .fill-1,
  .circle-wrap .circle .fill-2,
  .circle-wrap .circle .fill-3{
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 50%;
  }
  .circle-wrap .circle .mask{
    clip: rect(0px, 80px, 80px, 40px); 
  }

  .mask .fill-1{
    clip: rect(0px, 40px, 80px, 0px);
    background-color: rgb(31, 182, 228);
  }
  .mask.full-1,
  .circle .fill-1{
    animation: fill-1 ease-in-out 3s;
    transform: rotate(151deg);
  }
  @keyframes fill-1 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(150deg);
    }
  }

  .mask .fill-2{
    clip: rect(0px, 50px, 100px, 0px);
    background-color: rgb(14, 176, 33);
  }
  .mask.full-2,
  .circle .fill-2{
    animation: fill-2 ease-in-out 3s;
    transform: rotate(140deg);
  }
  @keyframes fill-2 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(140deg);
    }
  }

  .mask .fill-3{
    clip: rect(0px, 50px, 100px, 0px);
    background-color:red ;
  }
  .mask.full-3,
  .circle .fill-3{
    animation: fill-3 ease-in-out 3s;
    transform: rotate(132deg);
  }
  @keyframes fill-3 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(132deg);
    }
  }

  .inside-circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #212020;
    line-height: 60px;
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    z-index: 100;
    font: 2em ;
    color: #ffffff;
    text-align: center;
  }
  .a{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  /* contact */
  .contactme {
    display: flex;
    justify-content: center;
  }
  
  .subscribe {
    position: relative;
    height: 180px; /* Increased height to accommodate both inputs */
    width: 500px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 4px;
    color: #333;
    box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.4);
  }
  
  .subscribe:after {
    position: absolute;
    content: "";
    right: -10px;
    bottom: 18px;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #1a044e;
  }
  
  .subscribe-input,
  .subscribe-second {
    position: relative;
    border: none;
    border-bottom: 1px solid #d4d4d4;
    padding: 10px;
    width: 100%; /* Make inputs take up full width of the form */
    background: transparent;
    transition: all .25s ease;
    margin-bottom: 10px; /* Added margin between inputs */
  }
  
  .subscribe-input:focus,
  .subscribe-second:focus {
    outline: none;
    border-bottom: 1px solid #0d095e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif';
  }
  
  .subscribe-second {
    margin-bottom: 20px; /* Add some space below the second input */
  }
  
  .submit-btn {
    position: absolute;
    border-radius: 30px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: #199fd8;
    color: #FFF;
    padding: 12px 25px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 5px;
    right: -10px;
    bottom: -20px;
    cursor: pointer;
    transition: all .25s ease;
    box-shadow: -5px 6px 20px 0px rgba(26, 26, 26, 0.4);
  }
  
  .submit-btn:hover {
    background-color: #000000;
    box-shadow: -5px 6px 20px 0px rgba(88, 88, 88, 0.569);
  }

  /* chess  */

  .container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
p{
    margin-top: 20px;
    text-align: center;
}
#info-display{
    color: red;
    margin-top: 20px;
    text-align: center;
}

#chessBoard{ 
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
   
}

.square{
    width: 40px;
    height: 40px;
    position: relative;
}

.square svg{
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 20px;
    border: 10px  black;
    position: relative;
    z-index: -9;
}
path{
    position: relative;
    z-index: -10;
}

.piece{
    position: absolute;
    cursor: pointer;
    z-index: 9;
}


.white{
    background-color:burlywood;
}

.black{
    background-color:brown;
} 

.b{
    fill:black;
}
.w{
    fill:whitesmoke;
}

.che{
  margin: 15px;
  margin-top: 60px;
}
.ches{
  margin: 15px;
}